body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRBYKEHRws-wyzGfn8P_vIeSEwnWZekr07u8WOwZzRwoBVlKJ17');
    background-repeat: no-repeat;
    background-size: cover;
}